:root {
	--color-link: black;
	--color-visited: red;
	--color-active: grey;
	--color-button: white;
	--color-botton__secondary: #2b2b2b;
	--backgroundcolor-button: #003366;
	--backgroundcolor-botton__sencondary: #e0b354;
 	--color-secondary: #e0b354;
	--dark-grey: #2b2b2b;
	--font-weight__normal: 400;
	--font-weight__bold: 700;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
	font-family: 'Lato', sans-serif;
	font-weight: var(--font-weight__normal);
	font-size: 16px;
	line-height: 1.6;
}

.background {
	width: 100%;
	background-image: url(/img/background.png);
	background-size: cover;
	margin: 90px 0;
	padding: 20px 0;
}

h1 {
	font-size: 30px;
	font-weight: var(--font-weight__bold);
	text-align: center;
	position: relative;
}

h2 {
	font-size: 24px;
	font-weight: var(--font-weight__bold);
	margin: 0 0 10px 0;
}

h3 {
	font-size: 18px;
	font-weight: var(--font-weight__bold);
}

hr {
	border: 0;
	height: 1px;
	background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0)) ;
}

lh {
	text-decoration: underline;
}

a {
	color: var(--color-link);
}

a:visited {
	color: var(--color-visited);
}

a:hover, a:focus {
	/* no under lining when hovering, 
	a:focus is keyboard targeting activated */
	text-decoration: none;
}

a:active {
	color: var(--color-active);
}


.menuItem {
  display: block;
  margin: 2rem 4rem;
  font-size: 1.8rem;
  color: white;
  text-decoration: none;
}

.menuItem:hover {
  text-decoration: underline;
}

.hamburger {
  position: fixed;
  z-index: 100;
  top: 1rem;
  right: 1rem;
  padding: 4px;
  border: black solid 1px;
  background: white;
  cursor: pointer;
}

.closeIcon {
  display: none;
}

.menu {
  position: fixed;
  transform: translateY(-100%);
  transition: transform 0.2s;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 99;
  background: whitesmoke;
  color: white;
  list-style: none;
  padding-top: 4rem;
}

.showMenu {
  transform: translateY(0);
}
.fixed-top {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
}

.page-header {
	display: flex;
	width: 100%;
	padding: 10px;
	background-color: whitesmoke;
}

.page-header__item {
	flex: 0 1 200px;
}

.page-header__item:last-child {
	flex-grow: 1;
	text-align: right;
}

.navigation-list {
	list-style-type: none;
	display: inline-flex;
	align-items: center;
	margin: 5px;
	padding: 5px;
	font-weight: 700;
}

.navigation-list li {
	display: inline-block;
	margin-left: 15px;
}

.navigation-list__item--active {
	font-size: 20px;
	text-decoration: none;
}

.navigation-list__item {
	transition-duration: 0.2s opacity;
}

.navigation-list__item:hover, .navigation-list__item:focus {
	cursor: pointer;
	opacity: 0.8;
}

#name {
	display: inline-flex;
	align-items: center;
	margin: 5px;
	padding: 5px;
	font-weight: 700;
	font-size: 20px;
}

.profile {
	width: 100%;
	padding: 20px;
}

.profile-logo {
	max-width: 40px;
	max-height: 40px;
	border-radius: 50%;
}

.profile-portrait {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 200px;
	border-radius: 50%;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.profile_greeting {
 max-width: 900px;
 padding: 20px;
 text-align: center;
 margin-left: auto;
 margin-right: auto;
}

.project-button {
	text-align: center;
	margin: 20px;
}

button, .button {
	border: none;
	font-family: inherit;
	background-color: var(--backgroundcolor-button);
	color: var(--color-button);
	text-decoration: none;
	padding: 10px;
	border-radius: 3px;
	border-bottom: 2px solid rgba(0, 0, 0, 0.3);
	transition-duration: 0.2s opacity;
	/*transition-property: opacity;**/
}

button:hover, button:focus, .button:hover, .button:focus {
	cursor: pointer;
	opacity: 0.8;
}

.button__secondary {
	background-color: var(--backgroundcolor-botton__sencondary);
	color: var(--color-botton__secondary);
}

.about {
	padding: 20px;
}

.page-footer {
	clear: both;
	display: flex;
	flex-direction: column;
	text-align: center;
	padding-bottom: 10px;
}

* {
	box-sizing: border-box;
}

.about {
	text-align: center;
	margin: 20px;
	padding: 5px;
}

#about-me {
	text-align: justify;
	margin: auto;
	max-width: 900px;
	padding: 20px;
}

.icon-container {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	flex-direction: row;
	max-width: 900px;
	margin-left: auto;
	margin-right: auto;
}

.icon-container > div {
  margin: 10px;
  padding: 20px;
}

.project-container {
	position: relative;
	padding: 20px;
}

.project-container:before {
  content: ' ';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0.5;
	background-image: url(/img/background_2.png);
  background-repeat: no-repeat;
  background-position: 50% 0;
  background-size: cover;
}

.project-item {
	width: auto;
	background-color: white;
	max-width: 440px;
	min-height: auto;
	margin: 0;
	border-radius: 10px;
	padding: 40px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.project-item > h2 {
	text-align: center;
}

.project-item-container {
	display: flex;
	position: relative;
	justify-content: center;
	flex-wrap: wrap;
	flex-direction: row;
	max-width: 1000px;
	margin-left: auto;
	margin-right: auto;
}

.project-item {
	margin: 20px;
	padding: 20px;
}

.img-fluid {
	width: 120px;
	height: 100px;
}

.project-screenshot {
	max-width: 400px;
	border-radius: 10px;
	transition: all ease-in-out .2s;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.project-screenshot-container {
	text-align: center;
}

.project-screenshot:hover {
	filter: brightness(.5);
	box-shadow: 0 8px 12px 0 rgba(36, 60, 80, 0.16);
}

.project-screenshot-container:hover > h4 {
	visibility: visible;
}

.project-screenshot-container > h4 {
	position: absolute;
	transform: translate(215%, -550%);
	color: white;
	visibility: hidden;
	z-index: 10;
	transition: all ease-in-out .2s;
}

#project-screenshot-chit-chat > h4 {
	transform: translate(350%, -600%);
}

#project-screenshot-hifi-api > h4 {
	transform: translate(145%, -510%);
}

.project-description {
	padding: 0 20px;
}

.long-list-heading {
	margin: 0;
	padding: 0 40px;
}

.long-list {
	columns: 2;
	margin-top: 0;
}

.contact-body {
	text-align: center;
	margin: 20px 20px;
}

.social-media {
	padding: 20px;
}

@media all and (max-width: 500px) {
	.project-screenshot {
		max-width: 300px;
	}
}

@keyframes color-change {
	0% {
		fill: #edc655;
	}
	50% {
		fill: #fcffad;
	}
	100% {
		fill: #f76414;
	}
}
/*@keyframes color-change {
	from {
		fill: #edc655;
	}
	to {
		fill: #f76414;
	}
}*/

.standard-label {
	padding-top: 5px;
}

#message {
	padding-bottom: 5px;
	margin-bottom: 3px;
}

.free-course-link {
	content: url(../img/project-screenshots/free-web-dev-course.png);
}

.pokedex-link {
	content: url(../img/project-screenshots/pokedex-app.png);	
}

.hifi-api-link {
	content: url(../img/project-screenshots/hifi-api.png);	
}

.hifi-react-link {
	content: url(../img/project-screenshots/hifi-react.png);	
}

.time-place-link {
	content: url(../img/project-screenshots/time-place.png);	
}

.chit-chat-link {
	content: url(../img/project-screenshots/chit-chat.png);	
}

.hifi-angular-link {
	content: url(../img/project-screenshots/hifi-angular.png);	
}

.github-link::before {
	margin: 30px;
	content: url(../img/github_icon.svg);
}

.linkedin-link::before {
	margin: 30px;
	content: url(../img/linkedin_icon.svg);
}

